<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.AggregationExtensions.CoreAggregation.Pipelines.Browser.BrowsersProcessor, Sitecore.AggregationExtensions" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
