<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
        -->
        <dimensions>
          <dimension id="{679E880C-D86A-488E-923A-B86476CEE4FF}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajor, Sitecore.AggregationExtensions" />
          <dimension id="{108AD4BE-D5CA-4611-A020-1F643F594A87}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajorMinor, Sitecore.AggregationExtensions" />
          <dimension id="{E5EDAE99-A273-461A-9C06-BD066A83587E}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserVersion, Sitecore.AggregationExtensions" />
        </dimensions>
      </aggregation>
      <!--
      Purpose: This include file needs to be enabled in Processing Environment.
      It enables the components and features related to segment records reduce functionality.
      -->
      <reduce>
        <!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
        -->        
        <dimensions>
          <dimension id="{679E880C-D86A-488E-923A-B86476CEE4FF}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajor, Sitecore.AggregationExtensions" />
          <dimension id="{108AD4BE-D5CA-4611-A020-1F643F594A87}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajorMinor, Sitecore.AggregationExtensions" />
          <dimension id="{E5EDAE99-A273-461A-9C06-BD066A83587E}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserVersion, Sitecore.AggregationExtensions" />
        </dimensions>
      </reduce>

      <api>
        <!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
            Transformer elements underneath define the reference to the class responsible for transforming raw value of dimension key from the server
            to the friendly label shown in reports.
        -->
        <dimensions>
          <dimension id="{679E880C-D86A-488E-923A-B86476CEE4FF}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajor, Sitecore.AggregationExtensions" >
            <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics" />
          </dimension>
          <dimension id="{108AD4BE-D5CA-4611-A020-1F643F594A87}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserMajorMinor, Sitecore.AggregationExtensions" >
            <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics" />
          </dimension>
          <dimension id="{E5EDAE99-A273-461A-9C06-BD066A83587E}" type="Sitecore.AggregationExtensions.ExperienceAnalytics.Aggregation.Dimensions.ByBrowserVersion, Sitecore.AggregationExtensions" >
            <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics" />
          </dimension>
        </dimensions>
      </api>
    </experienceAnalytics>
  </sitecore>
</configuration>
